/*!
* @package   Mi-primera-pagina-web
* @filename  estilos.css
* @autor     _VictorDiaz <victor.vector008@gmail.com>
* @date      12.10.2017 13:00:53 VET
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: #E5E5E5;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	margin-top: 10px;
}

/* Esta parte es el menu */

nav {
	background: #258CD1;
	cursor: default;
	height: 50px;
	width: 100%;
	margin-bottom: 10px;
}

nav ul li a#nav-menu {
	display: none;
}

nav ul li a {
	color: #FFF;
	display: block;
	height: 50px;
	line-height: 37px;
	margin: 0;
	outline: 0;
	padding: 5px 20px;
	text-decoration: none;
}

nav ul li {
	display: inline-block;
}

nav ul li a:hover {
	background: #2176B0;
	color: #FFF;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
}

/* Ahora vamos con el texto */

.section {
	width: 69%;
	float: left;
	background: #FFFFFF;
	margin-bottom: 10px;
}

.section .article {
	padding: 20px 15px;
}

.section .article h1 {
	font-size: 20px;
}

.aside {
	width: 30%;
	float: right;
	background: #FF7E00;
	margin-bottom: 10px;
}

.aside .article {
	padding: 20px 15px;
}

.footer {
	background: #000000;
	width: 100%;
	float: left;
	height: 50px;
}

.footer p {
	color: #FFFFFF;
	text-align: center;
	line-height: 50px;
}
